#
## ** variables.yml Example **
#variables:
#  # VPN External Interface
#  ext_int: ge-0/0/0
#  # VPN External Interface Zone
#  ext_zone: untrust
#  # VPN DNS Hostname
#  dns_hn: vpn.domain.com
#  # VPN PreShared-Key (IKE)
#  vpn_psk: xxxyyyzzz
#  local_subnets:
#  # List of Local Protected Subnets
#  - {name: corp, subnet: 192.168.0.0, mask: 24}
#  - {name: voice, subnet: 192.168.1.0, mask: 24}
#  vpn_accounts:
#  # List of VPN Users and Passwords
#  - {user: user1, pass: xxxzzz}
#  - {user: user2, pass: yyyaaa}
#  dhcp_pool:
#    # VPN Client DHCP Pool
#    subnet: 192.168.99.0
#    # VPN Client DHCP Pool Subnet Mask
#    mask: 24
#    # VPN Client DHCP Pool Start IP
#    low: 192.168.99.10
#    # VPN Client DHCP Pool End IP
#    high: 192.168.99.99
#    # VPN Client Primary DNS Server
#    dns_pri: 8.8.8.8
#    # VPN Client Secondary DNS Server
#    dns_sec: 1.1.1.1
# 
groups {
    replace: remote-vpn {
        system {
            services {
                web-management {
                    https {
                        pki-local-certificate remote-vpn;
                        interface {{ ext_int }};
                    }
                }
            }
        }
        security {
            ike {
                traceoptions {
                    file dynvpn.tr size 5m files 5 world-readable;
                    flag ike;
                    flag general;
                }
                proposal SECURE_CONNECT_IKE-PROP {
                    authentication-method pre-shared-keys;
                    dh-group group19;
                    encryption-algorithm aes-256-cbc;
                    lifetime-seconds 28800;
                }
                policy SECURE_CONNECT_IKE-POL {
                    mode aggressive;
                    proposals SECURE_CONNECT_IKE-PROP;
                    pre-shared-key ascii-text {{ vpn_psk }};
                }
                gateway SECURE_CONNECT_GW {
                    ike-policy SECURE_CONNECT_IKE-POL;
                    dynamic {
                        hostname {{ dns_hn }};
                        ike-user-type shared-ike-id;
                    }
                    dead-peer-detection {
                        optimized;
                        interval 10;
                        threshold 5;
                    }
                    external-interface {{ ext_int }};
                    aaa {
                        access-profile SECURE_CONNECT_ACC-PRO;
                    }
                    version v1-only;
                }
            }
            ipsec {
                proposal SECURE_CONNECT_IPSEC-PROP {
                    encryption-algorithm aes-256-gcm;
                    lifetime-seconds 3600;
                }
                policy SECURE_CONNECT_IPSEC-POL {
                    perfect-forward-secrecy {
                        keys group19;
                    }
                    proposals SECURE_CONNECT_IPSEC-PROP;
                }
                vpn SECURE_CONNECT_VPN {
                    bind-interface st0.0;
                    ike {
                        gateway SECURE_CONNECT_GW;
                        ipsec-policy SECURE_CONNECT_IPSEC-POL;
                    } {% for subnet in local_subnets %}
                    traffic-selector ts-{{ subnet.name }} {
                        local-ip {{ subnet.subnet}}/{{ subnet.mask }};
                        remote-ip 0.0.0.0/0;
                    } {% endfor %}
                }
            }
            remote-access {
                profile SECURE_CONNECT_RA-PROF {
                    ipsec-vpn SECURE_CONNECT_VPN;
                    access-profile SECURE_CONNECT_ACC-PRO;
                    client-config SECURE_CONNECT_CLI-CONF;
                }
                client-config SECURE_CONNECT_CLI-CONF {
                    connection-mode manual;
                    dead-peer-detection {
                        interval 60;
                        threshold 5;
                    }
                }
                default-profile SECURE_CONNECT_RA-PROF;
            }
            zones {
                security-zone {{ ext_zone }} {
                    interfaces {
                        {{ ext_int}} {
                            host-inbound-traffic {
                                system-services {
                                    https;
                                    ike;
                                }
                            }
                        }
                    }
                }
                security-zone SECURE_CONNECT_ZONE {
                    interfaces {
                        st0.0;
                    }
                }
            }
            policies {
                global {
                    policy SECURE_CONNECT_SECPOL {
                        match {
                            from-zone SECURE_CONNECT_ZONE;
                            source-address SECURE_CONNECT_POOL;
                            destination-address SECURE_CONNECT_LOCALSUBS;
                            application any;
                        }
                        then {
                            permit;
                        }
                    }
                }
            }
            address-book {
                global {
                    address SECURE_CONNECT_POOL {{ dhcp_pool.subnet }}/{{ dhcp_pool.mask }}; {% for subnet in local_subnets %}
                    address LOCAL_SUBNET_{{ subnet.name }} {{ subnet.subnet}}/{{ subnet.mask }}; {% endfor %}
                    address-set SECURE_CONNECT_LOCALSUBS { {% for subnet in local_subnets %}
                        address LOCAL_SUBNET_{{ subnet.name }}; {% endfor %}
                    }
                }
            }
        }
        access {
            profile SECURE_CONNECT_ACC-PRO {
                authentication-order password; {% for account in vpn_accounts %}
                client {{ account.user }} {
                    firewall-user {
                        password {{ account.pass }};
                    }
                } {% endfor %}
                address-assignment {
                    pool SECURE_CONNECT_ADDR-POOL;
                }
            }
            address-assignment {
                pool SECURE_CONNECT_ADDR-POOL {
                    family inet {
                        network {{ dhcp_pool.subnet }}/{{ dhcp_pool.mask }};
                        range SC_REMOTE-IP-RANGE {
                            low {{ dhcp_pool.low }};
                            high {{ dhcp_pool.high }};
                        }
                        xauth-attributes {
                            primary-dns {{ dhcp_pool.dns_pri}}/32;
                            secondary-dns {{ dhcp_pool.dns_sec}}/32;
                        }
                    }
                }
            }
            firewall-authentication {
                web-authentication {
                    default-profile SECURE_CONNECT_ACC-PRO;
                }
            }
        }
    }
}
apply-groups remote-vpn;
